# Python
__pycache__/
*.pyc


# Environments
venv/
env/
.venv/


# Large datasets
data/*.csv


# Model checkpoints
*.pt
*.pth


# Jupyter
.ipynb_checkpoints/


# OS files
.DS_Store
Thumbs.db